<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>06_列表渲染_过滤与排序</title>
</head>
<body>
<!--
1. 列表过滤
2. 列表排序
-->

<div id="demo">
  <input type="text" v-model="searchName">
  <ul>
    <li v-for="(p, index) in filterPersons" :key="index">
      {{index}} -- {{p.name}} -- {{p.age}}
    </li>
  </ul>

  <button @click="setSortType(1)">年龄升序</button>
  <button @click="setSortType(2)">年龄降序</button>
  <button @click="setSortType(0)">原本顺序</button>
</div>

<script type="text/javascript" src="../js/vue.js"></script>
<script type="text/javascript">
  new Vue({
      el:'#demo',
      data:{
          searchName:'',
          sortType:0,
          persons:[
              {name:'Tom', age:12},
              {name:'Mary', age:11},
              {name:'John', age:15},
              {name:'Rose', age:13},
              {name:'Jack', age:10},
          ]
      },
      methods:{
          setSortType(sortType){
              this.sortType = sortType
          }
      },
      computed:{
          filterPersons(){
              let {searchName, persons, sortType} = this
              persons = persons.filter(p => {
                  return p.name.indexOf(searchName) > -1
              })

              if(sortType > 0){
                  persons.sort(function (p1, p2) {
                      if(sortType === 1){
                          return p1.age - p2.age
                      }else{
                          return p2.age - p1.age
                      }
                  })
              }
              return persons
          }
      }
  })
</script>
</body>
</html>